<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :context %><br/>
    <%= collection_select(:task, :context_id, @contexts, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :project %><br/>
    <input type="text" value="miscellaneous" />
  </div>
  <div class="row collapse date field datePicker" id="dueDatePicker" data-date-format="dd MM yyyy" style="max-width:200px;">
    <div class="small-2 columns">	
      <span class="prefix"><i class="fi fi-calendar"></i></span>
    </div>
    <div class="small-10 columns">
      <%= f.text_field :start %>
    </div>
  </div>
  <div class="row collapse date field datePicker" id="dueDatePicker" data-date-format="dd MM yyyy" style="max-width:200px;">
    <div class="small-2 columns">	
      <span class="prefix"><i class="fi fi-calendar"></i></span>
    </div>
    <div class="small-10 columns">
      <%= f.text_field :due %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div> 
<% end %>



<script>
$(function(){
  $('.datePicker').fdatepicker();
});
</script>

