<div>
  <% tasks.each do |task| -%>
    <div id="<%= task.id -%>" class="task row collapse
                                due_<%= task_date_status(task.due) -%> 
                                <%= task_complete_status(task.complete?) -%>
                                <%= task.available -%>">
      <div class="small-10 medium-6 columns name">
        <div class="row collapse">
          <div class="small-1 columns">
            <%= link_to " ", task_toggle_path(id: task.id), remote: true, method: :get, class: 'status' -%>   
          </div>
          <div class="small-11 columns">
            <%= task.name %> 
          </div>
        </div>
      </div>
      <% if @task_grouping == "project" -%>
        <div class="hide-for-small-only medium-2 columns context">@<%= task.context.name %></div>
      <% else -%>
        <div class="hide-for-small-only medium-2 columns project"><%= task.project.name %></div>
      <% end %>
      <div class="hide-for-small-only medium-2 columns due"><%= task.due ? task.due.to_formatted_s(:short) : "&nbsp;".html_safe %></div>
      <div class="small-1 medium-1 columns info">
        <a data-open="taskDetail_<%= task.id -%>" title="View task details"><i class="fi-eye"></i></a>
      </div>
      <div class="small-1 medium-1 columns edit">
        <%= link_to '<i class="fi-pencil"></i>'.html_safe, edit_task_path(task), title: 'Edit task details' %>
      </div>
      <div id="taskDetail_<%= task.id -%>" class="task_detail reveal" data-reveal>
        <%= render partial: 'task_detail', locals: { task: task } %>
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  <% end -%>
</div>
