<div class="row">
  <div id="page-title" class="small-4 small-centered medium-uncentered"><%= @task_grouping.titleize %></div>
</div>

<% @task_groups.each do |group| -%>
  <% unless group.tasks.empty? && @task_groups.count > 1 -%>
    <div class="<%= @task_grouping %> task-group row">
      <h5 class="task-group-name"><%= group.name %></h5>
      <% if group.tasks.empty? %>
        <em class="small-12 columns">No tasks</em>
      <% else %>
        <%= render partial: 'task_list', locals: { tasks: group.tasks } %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% content_for :side_menu do %>
  <%= render partial: 'side_menu', locals: { projects: @projects } %>
<% end %>
