<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Temae: Enlighted Task Management" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="has-off-canvas">
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <!-- off-canvas title bar for 'small' screen -->
        <div class="title-bar">
          <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
            <span class="title-bar-title">Temae</span>
          </div>
          <div class="title-bar-right">
            <%= link_to('log out', destroy_user_session_path, method: :delete, id: 'logout-button', class: 'tiny alert button') %>
          </div>
        </div>

        <!-- off-canvas left menu -->
        <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
              <ul class="vertical accordion-menu menu" data-accordion-menu>
                <li id="inbox-menu-item">
                  <a href="#inbox"><i class="fi-download"></i> Inbox</a>
                </li>
                <li>
                  <a href="#context">Context</i></a>
                  <ul class="menu vertical sublevel-1">
                    <li><a class="subitem" href="#"><i class="fi-star context-icon" style="vertical-align: top;"></i> All</a></li>
                    <li><a class="subitem" href="#"><i class="fi-mail context-icon"></i> Email</a></li>
                    <li><a class="subitem" href="#"><i class="fi-marker context-icon"></i> Errands</a></li>
                    <li><a class="subitem" href="#"><i class="fi-social-github context-icon"></i> Github</a></li>
                    <li><a class="subitem" href="#"><i class="fi-home context-icon"></i> Home</a></li>
                    <li><a class="subitem" href="#"><i class="fi-torso-business context-icon"></i> Office</a></li>
                    <li><a class="subitem" href="#"><i class="fi-telephone context-icon"></i> Phone</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#projects">Projects</a>
                  <ul class="menu vertical sublevel-1">
                    <li><a class="subitem" href="#">All</a></li>
                    <li><a class="subitem" href="#">Bills</a></li>
                    <li><a class="subitem" href="#">Blog</a></li>
                    <li><a class="subitem" href="#">Hana</a></li>
                    <li><a class="subitem" href="#">Remodel</a></li>
                    <li><a class="subitem" href="#">Shine</a></li>
                    <li><a class="subitem" href="#">Temae</a></li>
                  </ul>
                </li>
              </ul>
        </div>

        <!-- original content goes in this container -->
        <div class="off-canvas-content" data-off-canvas-content>
          <div class="row column">
             <% if notice.present? %>
               <div class="callout success" data-closable>
                 <%= notice %>
                 <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                   <span aria-hidden="true"><i class="fi-x-circle"></i></span>
                 </button>
               </div>
             <% end -%>
  
            <% if alert.present? %>
              <div class="callout alert" data-closable>
                <%= alert %>
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                  <span aria-hidden="true"><i class="fi-x-circle"></i></span>
                </button>
              </div>
            <% end -%>
            <%= yield %>
          </div>
        </div>
      <!-- close wrapper, no more content after this -->
      </div>
    </div>
  </body>
</html>
   
